<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header.css" rel="stylesheet"/>
    <link href="/css/core/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet"/>
</head>
    <!--/*@thymesVar id="typeLists" type="java.util.List"*/-->
<body>
    <div th:include="~{header::my-header}"></div>
    <div class="video-container">
        <p><input type="text" class="form-control search-content"><button class="btn btn-primary search-btn">Search</button></p>
        <!--/*@thymesVar id="typeList" type="com.yosoro.video.domain.video.TypeList"*/-->
        <div class="video-block" th:each="typeList:${typeLists}">
            <h1><span th:text="${typeList.videoType.typeName}"></span></h1>
            <div>
                <!--/*@thymesVar id="subType" type="com.yosoro.video.domain.video.VideoType"*/-->
                <div class="video-card" th:each="subType:${typeList.subTypes}">
                    <a th:href="'/intro/'+${subType.id}">
                        <img th:src="'/imgs/'+${subType.image}"/>
                        <h4 th:text="${subType.typeName}"></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/core/jquery-3.2.1.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>