<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>上传视频</title>
        <meta charset="UTF-8"/>
        <link th:href="'/css/core/bootstrap.min.css'" rel="stylesheet">
        <link th:href="'/css/uploadVideo.css'" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet"/>
    </head>
    <body>
    <div th:include="~{header::my-header}"></div>
    <div class="my-container">
        <h1>视频上传</h1>
        <p><span>视频名称</span><input type="text" name="videoName" class="form-control" style="margin-left: 4px;"></p>
        <p><span style="vertical-align: top">视频描述</span>
            <textarea rows="5" cols="10" name="videoDescribe" class="form-control"></textarea></p>
        <p><span>视频类型</span>
            <span id="selectBlock">
                    <!--/*@thymesVar id="typeList" type="java.util.List"*/-->
                    <select class="form-control father-type">
                        <!--/*@thymesVar id="type" type="com.yosoro.video.domain.video.TypeList"*/-->
                        <option th:each="type,iStat:${typeList}" th:text="${type.videoType.typeName}"
                                th:value="${type.videoType.id}" th:selected="${iStat.index==1}?true:false"></option>
                    </select>
                <!--/*@thymesVar id="type" type="com.yosoro.video.domain.video.TypeList"*/-->
                    <select th:each="type,iStat:${typeList}" th:style="${iStat.index}!=1?'display:none':''"
                            class="form-control sub-type">
                        <!--/*@thymesVar id="subType" type="com.yosoro.video.domain.video.VideoType"*/-->
                        <option th:each="subType,iStat:${type.subTypes}" th:text="${subType.typeName}"
                                th:value="${subType.id}" th:selected="${iStat.index==1}?true:false"></option>
                    </select>
                </span>
        </p>
        <p><span>文件选择</span><input type="file" name="videoFile" class="form-control" style="border: none"></p>
        <p><button class="btn btn-primary upload-confirm">确认</button></p>
        <div class="progress-block">
            <div style="width:80%;margin-left:5%;display: inline-block">
                <div class="progress" style="width:0%">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <span class="progress-text">0%</span>
            <p style="margin: 0 10%;padding: 10px 0;">上传中请稍等</p>
        </div>
    </div>
    <script th:src="'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/js/core/popper.min.js'"></script>
    <script th:src="'/js/core/bootstrap.js'"></script>
    <script src="/js/core/lib/aliyun-oss-sdk-5.2.0.min.js"></script>
    <script src="/js/core/aliyun-upload-sdk-1.4.0.min.js"></script>
    <script th:src="'/js/upload.js'"></script>
    <script src="/js/header.js"></script>
    </body>
</html>