<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/css/user.css'" rel="stylesheet">
    <link th:href="'/css/createVideoType.css'" rel="stylesheet">
    <link th:href="'/css/deleteVideoType.css'" rel="stylesheet">
    <link href="/css/videoManage.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet"/>

</head>
    <div th:include="~{header::my-header}"></div>
    <div class="main-container">
        <table>
            <tr >
                <th class="left-block">
                    <div class="menu-list" id="video-info-block"><p class="menu-title">视频管理</p>
                        <div>
                            <a href="/user/videoManage">视频管理</a>
                        </div>
                    </div>
                    <div class="menu-list" id="type-info-block"><p class="menu-title">分类管理</p>
                        <div>
                            <a href="/user/createVideoType">新增视频分类</a>
                            <a href="/user/deleteVideoTypePage">删除视频分类</a>
                        </div>
                    </div>
                </th>
                <!--/*@thymesVar id="pageType" type="java.lang.String"*/-->
                <th class="right-block">
                    <h1><span>Overview</span><button th:if="${pageType.equals('videoManage')}" class="btn btn-info">新增视频</button></h1>
                    <div style="display: none" class="user-block" id="userInfo-block">
                        <div class="overview-user" id="user-info-show" >
                            <h3>用户信息<button class="btn btn-primary" id="btn-edit-user-info">编辑</button></h3>
                            <div>
                                <div>
                                    <p><span>用户名:</span><span >Yosoro</span></p>
                                    <p><span>昵称:</span><span >Yosiko</span></p>
                                    <p><span>上次登录</span><span >2018-08-01</span></p>
                                </div>
                                <img >
                            </div>
                            <div>
                                <p><span>性别:</span><span >女</span></p>
                                <p><span>邮箱:</span><span>1011206880@qq.com</span></p>
                                <p><span>电话号码:</span><span >12345678910</span></p>
                                <p><span>生日:</span><span >2018-09-10</span></p>
                            </div>
                            <p><span>个性签名:</span><span>there is nothing to show for you</span></p>
                        </div>
                        <div class="overview-user" id="user-info-edit" >
                            <h3>编辑用户信息<button class="btn btn-primary" id="btn-edit-user-info-fin">完成</button></h3>
                            <div>
                                <p id="manage-modify-user-id" style="display:none"></p>
                                <div style="vertical-align: top">
                                    <p><span>用户名:</span><span>Yosoro</span></p>
                                    <p><span>昵称:</span><input class="form-control" name="username"
                                                              type="text"></p>
                                    <p class="error-hint">账户长度应在4~16位</p>
                                </div>
                                <div style="display: inline-block;width: 29%;">
                                    <img>
                                    <input type="file" id="user-photo-file">
                                    <button class="btn btn-success" id="send-user-photo">上传图片</button>
                                    <p style="display: none">上传完成</p>
                                    <p style="display: none">上传中</p>
                                    <p style="display: none">图片格式不符</p>
                                </div>
                            </div>
                            <p style="margin-top: -115px;"><span>性别:</span>
                                <input class="form-control" type="radio" name="sex" value="male" >
                                <span style="width: 5%">男</span>
                                <input class="form-control" type="radio" name="sex" value="female" >
                                <span style="width: 5%">女</span>
                            </p>name="email"></p>
                            <p class="error-hint">邮箱格式不符</p>
                            <p><span>电话号码:</span><input class="form-control" type="number" name="phone"></p>
                            <p class="error-hint">电话号码长度不符</p>
                            <p><span>生日:</span><input class="form-control" type="date" name="birth"></p>
                            <p class="error-hint">生日不能为空</p>
                            <p><span>个性签名:</span><textarea rows="5" class="form-control" name="whatsUp"></textarea></p>
                            <p class="error-hint">个性签名长度为0~32</p>
                            <p id="manage-return-page" style="display:none"></p>
                        </div>
                    </div>
                    <div th:if="${pageType.equals('addVideoType')}" th:include="~{createVideoType::type-block}" class="createVideoTypeBlock"></div>
                    <div th:if="${pageType.equals('deleteVideoType')}" th:include="~{deleteVideoType::delete-type-block}" class="deleteVideoTypeBlock"></div>
                    <div th:if="${pageType.equals('videoManage')}" th:include="~{videoManage::video-block}" class="video-manage-block"></div>
                </th>
            </tr>
        </table>
    </div>

    <script th:src="'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/js/core/popper.min.js'"></script>
    <script th:src="'/js/core/bootstrap.js'"></script>
    <script src="/js/user.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>