<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" rel="stylesheet">
    <link href="/css/video.css" rel="stylesheet">
    <link href="/css/core/bootstrap.css" rel="stylesheet">
</head>
<body>
    <!--/*@thymesVar id="videoUrl" type="java.lang.String" */-->
    <input id="videoUrl" th:value="${videoUrl}" style="display:none;"/>
    <!--/*@thymesVar id="video" type="com.yosoro.video.domain.video.Video"*/-->
    <div class="my-container">
        <h1 th:text="${video.name}"></h1>
        <p th:text="${#dates.format(video.uploadTime,'yyyy-MM-dd hh:mm:ss')}"></p>
        <p th:text="'浏览次数: '+${video.getViewCount()}"></p>
        <div class="prism-player" id="J_prismPlayer"></div>
    </div>
    <script src="https://g.alicdn.com/de/prismplayer/2.7.2/aliplayer-h5-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://player.alicdn.com/aliplayer/presentation/js/aliplayercomponents.min.js"></script>

    <script src="/js/core/jquery-3.2.1.js"></script>
    <script src="/js/video.js"></script>
</body>
</html>