<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="videoList" type="java.util.List" */-->
    <div th:fragment="video-block">
        <div>
            <div th:each="video:${videoList}" class="video-manage-item">
                <!--/*@thymesVar id="video" type="com.yosoro.video.domain.video.Video" */-->
                <a th:href="'/video/'+${video.videoId}">
                    <img th:src="'/imgs/'+((${video.videoType}==null)?'default.jpg':${video.videoType.image})">
                    <span th:text="${video.videoId}" style="display: none"></span>
                    <span th:text="${video.name}"></span>
                    <div>
                        <span th:text="${#dates.format(video.uploadTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                        <span th:text="${video.videoType}==null?'未分类':${video.videoType.typeName}"></span>
                    </div>
                </a>
                <button class="btn btn-danger">删除</button>
            </div>
        </div>
        <div class="skip-block">
            <button class="btn btn-primary">上一页</button>
            <!--/*@thymesVar id="index" type="java.lang.Integer" */-->
            <span th:text="${index}">1</span>/
            <!--/*@thymesVar id="videoSize" type="java.lang.Integer" */-->
            <span th:text="${videoSize}"></span><input class="form-control" type="number" >
            <button class="btn btn-success">跳转</button>
            <button class="btn btn-primary" >下一页</button>
        </div>
    </div>
</body>
</html>